body {
  background-color: blanchedalmond;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: black;
}
.nav {
  max-width: 1200px;
  margin: auto;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 1.1rem;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: blanchedalmond;
}
.box {
  color: blanchedalmond;
  width: 30px;
  height: 30px;
  text-align: center;
  position: relative;
}
.cart-count {
  position: absolute;
  background-color: black;
  top: -6px;
  padding: 3px;
  height: 20px;
  width: 20px;
  line-height: 20px;
  border-radius: 50%;
  z-index: 99;
}
.cart-icon {
  font-size: 1.5rem;
  cursor: pointer;
  padding-top: 10px;
}
img {
  float: left;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.container {
  max-width: 1200px;
  padding: 4rem;
  margin: auto;
  width: 100%;
}
.shop-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  gap: 2rem;
  justify-content: center;
  align-content: center;
}
h2.title {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
}
.food-box {
  background-color: black;
  padding: 10px;
  box-shadow: 0 1px 4px black;
  border-radius: 3px;
  color: blanchedalmond;
}
.food-title {
  color: blanchedalmond;
  font-size: 1.2rem;
  font-weight: 300;
}
.food-price {
  color: beige;
  font-size: 0.8rem;
  font-weight: 100;
}
.pic {
  overflow: hidden;
}
.pic:hover img {
  transform: scale(1.5);
}
.food-image {
  transition: 0.5s;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.add-cart {
  font-size: 0.8rem;
  bottom: 0;
  right: 0;
  /* background-color: black; */
  /* color: blanchedalmond; */
  cursor: pointer;
}
/* .add-cart:hover {
  background-color: brown;
} */
.cart {
  position: absolute;
  top: 0;
  right: -100%;
  width: 270px;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
  background-color: black;
  box-shadow: 0 1px 4px beige;
  z-index: 100;
  /* line-height: 20px; */
  /* text-align: center; */
}
.cart-active {
  right: 0;
  transition: 0.5s;
}
.cart-box {
  color: blanchedalmond;
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  font-size: 10px;
  gap: 0.5rem;
  margin-top: 1rem;
  border-bottom: 1px solid blanchedalmond;
  padding-bottom: 10px;
}
/* input[name="trash"] {
  color: blanchedalmond;
} */
.cart-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 1rem;
  color: blanchedalmond;
  padding-bottom: 10px;
  border-bottom: 1px solid blanchedalmond;
}
.cart-img {
  /* width: 50px;
  height: 50px;
  object-fit: cover;
  border: 2px solid blanchedalmond; */
  width: 75px;
  height: 75px;
  object-fit: cover;
  border: 2px solid rgba(0, 0, 0, 0.1);
  padding: 5px;
}
.cart-quantity {
  width: 2rem;
  height: 0.5rem;
  border: 1px solid blanchedalmond;
  outline: none;
  text-align: center;
  font-size: 0.7rem;
}
.detail-box {
  display: grid;
  row-gap: 0.5rem;
}
.price-box {
  display: flex;
  justify-content: space-between;
}
.cart-food-title {
  font-size: 1rem;
  text-transform: uppercase;
  color: brown;
  font-weight: 500;
}
.cart-price {
  font-weight: 500;
}
.cart-remove {
  font-size: 15px;
  color: red;
  cursor: pointer;
}
.total {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  color: blanchedalmond;
}
.total-title {
  font-size: 1rem;
  font-weight: 600;
}
.total-prices {
  margin-left: 0.5rem;
}
.btn-buy {
  padding: 5px 5px;
  background-color: green;
  color: black;
  border: solid;
  font-size: 0.7rem;
  /* font-weight: 500; */
  cursor: pointer;
  font-family: "Times New Roman", Times, serif;
}
#cart-close {
  position: absolute;
  top: 1rem;
  right: 0;
  font-size: 1rem;
  color: red;
  cursor: pointer;
}
